section {
  
  font-family: 'Oswald', sans-serif;
  font-family: 'Overpass', sans-serif; 
  background-color: #DFDFDF
}

a {
  
  font-family: 'Overpass', sans-serif; 
}
p{
  font-family: 'Overpass', sans-serif; 
}

h4{
  font-family: 'Overpass', sans-serif; 
}
h5{
  font-family: 'Overpass', sans-serif; 
}

.nav-complete {
  padding:0.5rem;
  
}

.logo{
  width:10%;

}

.search-nav {
  display:flex;
}

.img{
  width:100%
}

.search{
  margin:  10px;
  
}
.image-back{
  background-image:url('../images/back-img.png');
  background-repeat: no-repeat;
  
  background-attachment: scroll;
  background-size:cover;
  height: 170px;
 
  /*
  */
}
.image-back-body{
  background-image:url('../images/descarga.jfif');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size:cover;
  height:2000px;
 
  /*
  */
}
.img-carousel{
  height: 670px;
}

.big-card{
  padding:0.3rem 0.3rem; 
}
.pokemon-cards{
  width: 75%;
  border: 5px solid #D5A100;
  border-radius:7px;
  margin: 0.3rem 0.2rem;
  box-shadow:1px 1px 1px black;
  background-color: #0075BE;
}

.poke-name{
  text-transform:uppercase;
  padding:2px 2px 2px 2px;
  margin: 3px;
}
.card-name{
  display:flex;
  justify-content: space-between;

}
/*.hp{
  margin-left:30px
}*/
.pokeball{
  width:12%;
  height: 15%;
}

.card-img-top{
  border: 5px solid #D5A100 ;
  border-radius:7px;
}
.pokemon-container{
  padding:0.4rem 0.4rem;
  
}

.pokemon-flex{
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}




