<nav class="navbar navbar-dark bg-dark nav-complete">

    <div class="container-fluid ">
        <img class="logo" src="/images/Pokemon-Logo-modified.png" alt="logo" />

        <div class="search-nav">
            <form class="d-flex search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Here we have Pokemons Cards</h5>
        <span class="text-muted">More content Coming soon! </span>
        <p class="text-muted">Sorry, we are working in cards and more content for you!</p>
    </div>
</div>